* {
    margin: 0;
    padding: 0;
}

html,
body {
    padding: 0;
    height: 100%;
}

.wrapper {
    position: relative;
    width: 100%;
    min-height: 100%;
    background: #eee;
}

.footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 9px;
}

.icon-button {
    background-color: white;
    cursor: pointer;
    display: inline-block;
    margin: 0 3px;
    position: relative;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Circle */
.icon-button span {
    border-radius: 0;
    display: block;
    height: 0;
    left: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    width: 0;
}

.icon-button:hover span {
    border-radius: 100%;
}

.icon-button:hover .icon-twitter,
.icon-button:hover .icon-facebook,
.icon-button:hover .icon-google-plus,
.icon-button:hover .icon-instagram,
.icon-button:hover .icon-vk {
    color: white;
}

/* Icons */
.icon-button i {
    background: none;
    color: white;
    left: 0;
    position: absolute;
    top: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    z-index: 10;
}

.google-plus span {
    background-color: #db5a3c;
}

.facebook span {
    background-color: #3B5998;
}

.twitter span {
    background-color: #4099ff;
}

.instagram span {
    background-color: darkviolet;
}

.vk span {
    background-color: darkblue;
}

.icon-button .icon-google-plus {
    color: #db5a3c;
}

.icon-button .icon-facebook {
    color: #3B5998;
}

.icon-button .icon-twitter {
    color: #4099ff;
}

.icon-button .icon-instagram {
    color: darkviolet;
}

.icon-button .icon-vk {
    color: darkblue;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    margin: auto;
}

@media (min-width: 1081px) {
    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
        width: 50%;
    }
    .footer {
        height: 90px;
    }
    .icon-button {
        border-radius: 3.6rem;
        font-size: 2.0rem;
        height: 3.6rem;
        line-height: 3.6rem;
        width: 3.6rem;
    }
    .icon-button:hover span {
        width: 3.6rem;
        height: 3.6rem;
        margin: -1.8rem;
    }

    .icon-button i {
        height: 3.6rem;
        line-height: 3.6rem;
        width: 3.6rem;
    }
}

@media (min-width: 641px) and (max-width: 1080px) {
    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
        width: 100%;
    }
    .footer {
        height: 150px;
    }
    .icon-button {
        border-radius: 10.8rem;
        font-size: 6.0rem;
        height: 10.8rem;
        line-height: 10.8rem;
        width: 10.8rem;
    }
    .icon-button:hover span {
        width: 10.8rem;
        height: 10.8rem;
        margin: -5.4rem;
    }
    .icon-button i {
        height: 10.8rem;
        line-height: 10.8rem;
        width: 10.8rem;
    }
}

@media (min-width: 371px) and (max-width: 640px) {
    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
        width: 100%;
    }
    .footer {
        height: 100px;
    }
    .icon-button {
        border-radius: 5.4rem;
        font-size: 3.0rem;
        height: 5.4rem;
        line-height: 5.4rem;
        width: 5.4rem;
    }
    .icon-button:hover span {
        width: 5.4rem;
        height: 5.4rem;
        margin: -2.7rem;
    }
    .icon-button i {
        height: 5.4rem;
        line-height: 5.4rem;
        width: 5.4rem;
    }
}

@media (min-width: 0px) and (max-width: 370px) {
    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
        width: 100%;
    }
    .footer {
        height: 165px;
    }
    .icon-button {
        border-radius: 5.4rem;
        font-size: 3.0rem;
        height: 5.4rem;
        line-height: 5.4rem;
        width: 5.4rem;
    }
    .icon-button:hover span {
        width: 5.4rem;
        height: 5.4rem;
        margin: -2.7rem;
    }
    .icon-button i {
        height: 5.4rem;
        line-height: 5.4rem;
        width: 5.4rem;
    }
}






/* uses font awesome for social icons */
@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

.page-header{
    text-align: center;
}

/*social buttons*/
.btn-social{
    color: white;
    opacity:0.9;
}
.btn-social:hover {
    color: white;
    opacity:1;
}
.btn-facebook {
    background-color: #3b5998;
    opacity:0.9;
}
.btn-twitter {
    background-color: #00aced;
    opacity:0.9;
}
.btn-linkedin {
    background-color:#0e76a8;
    opacity:0.9;
}
.btn-github{
    background-color:#000000;
    opacity:0.9;
}
.btn-google {
    background-color: #c32f10;
    opacity: 0.9;
}
.btn-stackoverflow{
    background-color: #D38B28;
    opacity: 0.9;
}

/* resume stuff */

.bs-callout {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #eee;
    border-image: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px 1px 1px 5px;
    margin-bottom: 5px;
    padding: 20px;
}
.bs-callout:last-child {
    margin-bottom: 0px;
}
.bs-callout h4 {
    margin-bottom: 10px;
    margin-top: 0;
}

.bs-callout-danger {
    border-left-color: #d9534f;
}

.bs-callout-danger h4{
    color: #d9534f;
}

.resume .list-group-item:first-child, .resume .list-group-item:last-child{
    border-radius:0;
}

/*makes an anchor inactive(not clickable)*/
.inactive-link {
    pointer-events: none;
    cursor: default;
}

.resume-heading .social-btns{
    margin-top:15px;
    padding: 5px;
}

@media (max-width: 992px) {
    .resume-heading .social-btn-holder{
        padding:5px;
    }
}


/* skill meter in resume. copy pasted from http://bootsnipp.com/snippets/featured/progress-bar-meter */

.progress-bar {
    text-align: left;
    white-space: nowrap;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.progress-bar > .progress-type {
    padding-left: 10px;
}

.progress-meter {
    min-height: 15px;
    border-bottom: 2px solid rgb(160, 160, 160);
    margin-bottom: 15px;
}

.progress-meter > .meter {
    position: relative;
    float: left;
    min-height: 15px;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(160, 160, 160);
}

.progress-meter > .meter-left {
    border-left-width: 2px;
}

.progress-meter > .meter-right {
    float: right;
    border-right-width: 2px;
}

.progress-meter > .meter-right:last-child {
    border-left-width: 2px;
}

.progress-meter > .meter > .meter-text {
    position: absolute;
    display: inline-block;
    bottom: -20px;
    width: 100%;
    font-weight: 700;
    font-size: 0.85em;
    color: rgb(160, 160, 160);
    text-align: left;
}

.progress-meter > .meter.meter-right > .meter-text {
    text-align: right;
}

.form-wrapper {
    width: 100%;
}

/*
form {
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
    margin-bottom: 30px;
}*/
