* {
    margin: 0;
    padding: 0;
}

html,
body {
    padding: 0;
    height: 100%;
}

.wrapper {
    position: relative;
    width: 100%;
    min-height: 100%;
    background: #eee;
}

.content {
    padding-top: 40px;
    text-align: center;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: burlywood;
    text-align: center;
    padding-top: 9px;
}

.icon-button {
    background-color: white;
    cursor: pointer;
    display: inline-block;
    margin: 0 5px;
    position: relative;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Circle */
.icon-button span {
    border-radius: 0;
    display: block;
    height: 0;
    left: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    width: 0;
}

.icon-button:hover span {
    border-radius: 100%;
}

.icon-button:hover .icon-twitter,
.icon-button:hover .icon-facebook,
.icon-button:hover .icon-google-plus,
.icon-button:hover .icon-instagram,
.icon-button:hover .icon-vk {
    color: white;
}

/* Icons */
.icon-button i {
    background: none;
    color: white;
    left: 0;
    position: absolute;
    top: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    z-index: 10;
}

.google-plus span {
    background-color: #db5a3c;
}

.facebook span {
    background-color: #3B5998;
}

.twitter span {
    background-color: #4099ff;
}

.instagram span {
    background-color: darkviolet;
}

.vk span {
    background-color: darkblue;
}

.icon-button .icon-google-plus {
    color: #db5a3c;
}

.icon-button .icon-facebook {
    color: #3B5998;
}

.icon-button .icon-twitter {
    color: #4099ff;
}

.icon-button .icon-instagram {
    color: darkviolet;
}

.icon-button .icon-vk {
    color: darkblue;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    margin: auto;
}

@media (min-width: 1081px) {
    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
        width: 50%;
    }
    .footer {
        height: 90px;
    }
    .icon-button {
        border-radius: 3.6rem;
        font-size: 2.0rem;
        height: 3.6rem;
        line-height: 3.6rem;
        width: 3.6rem;
    }
    .icon-button:hover span {
        width: 3.6rem;
        height: 3.6rem;
        margin: -1.8rem;
    }

    .icon-button i {
        height: 3.6rem;
        line-height: 3.6rem;
        width: 3.6rem;
    }
    .content {
        padding-bottom: 90px;
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 1080px) {
    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
        width: 100%;
    }
    .footer {
        height: 150px;
    }
    .icon-button {
        border-radius: 10.8rem;
        font-size: 6.0rem;
        height: 10.8rem;
        line-height: 10.8rem;
        width: 10.8rem;
    }
    .icon-button:hover span {
        width: 10.8rem;
        height: 10.8rem;
        margin: -5.4rem;
    }
    .icon-button i {
        height: 10.8rem;
        line-height: 10.8rem;
        width: 10.8rem;
    }
    .content {
        padding-bottom: 150px;
    }
}


.btn-group-vertical>.btn-group:after, .btn-group-vertical>.btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .modal-header:after, .modal-header:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
    display: table;
    content: " ";
}

.btn-group-vertical>.btn-group:after, .btn-toolbar:after, .clearfix:after, .container-fluid:after, .container:after, .dl-horizontal dd:after, .form-horizontal .form-group:after, .modal-footer:after, .modal-header:after, .nav:after, .navbar-collapse:after, .navbar-header:after, .navbar:after, .pager:after, .panel-body:after, .row:after {
    clear: both;
}
.btn-group-vertical>.btn-group:after, .btn-group-vertical>.btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .modal-header:after, .modal-header:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
    display: table;
    content: " ";
}
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}